{__NOLAYOUT__}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__STATIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>新增图片</title>
<link href="__STATIC__/admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form action="{:request()->action()}" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		<div class="layui-layer-title" style="cursor: move;" move="ok">修改商品</div>
		<div class="row cl">
			<input type="hidden" class="input-text" value="{$data.goods_id}" placeholder="" id="goods_id" name="goods_id">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_title" placeholder="" value="{$data.goods_title}" class="input-text" style="width:90%">
				元</div>
			</div>
<!--		</div>-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">茶种分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" name="tea_id">
					{volist name="tea" id="v"}
					{eq name="$v.tea_id" value="$data.tea_id"}
					<option value="{$v.tea_id}" selected>{$v.tea_name}</option>
					{else/}
					<option value="{$v.tea_id}">{$v.tea_name}</option>
					{/eq}
					{/volist}
				</select>
				</span> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_price" placeholder="" value="{$data.goods_price}" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品原价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_reprice" placeholder="" value="{$data.goods_reprice}" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品销量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_number" placeholder="" value="{$data.goods_number}" class="input-text" style="width:90%">
				盒
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发货地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.goods_address}" placeholder="" name="goods_address">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品主图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_img}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品主图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="{$data.goods_img}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品轮播图1：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_banner1}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品轮播图1：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="{$data.goods_banner1}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品轮播图2：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_banner2}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品轮播图2：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="{$data.goods_banner2}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品轮播图3：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_banner3}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品轮播图3：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="$data.goods_banner3}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品详情图1：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_img1}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品详情图1：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="$data.goods_img1}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品详情图2：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_img2}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品详情图2：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="{$data.goods_img2}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原商品详情图3：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/chadutp/public/{$data.goods_img3}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品详情图3：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" value="{$data.goods_img3}" placeholder="" name="image[]">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
			</div>
		</div>
	</form>
</div>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
</body>
</html>